.Home-shelves-container {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin: 0 800px;
}

.Home-shelves-container a {
  text-decoration: none;
}

.Home-shelf-container {
  padding: 20px;
  margin-top: 20px;
  background-color: #D34735;
}

.Home-shelf-container span {
  position: relative;
  left: -110px;
  color: white;
  font-size: xx-large;
  font-weight: 700;
}